<!DOCTYPE html>
<html>
<head>
  <title>Investitions</title>
  <%= stylesheet_link_tag 'reset' %>
  <%= stylesheet_link_tag 'main' %>
  <%= javascript_include_tag ['jquery', 'rails', 'highcharts', 'application'] %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
